@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Tourney', cursive;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* position: absolute; */
    /* z-index: -3; */
}
p{
    font-size: 30px;
    margin-right: 20px;
    font-weight: bold;
    float: right;  
    color: wheat;  
}
.egg{
    height:40px;
    width: 30px;
    position: absolute;  
    z-index: -2;
}
.basket{
    width:120px;
    height: 40px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.scoreegg{
    height:25px;
    width:20px;
    margin-right:5px;
   
}
 .lives{   
    position:absolute;
    right:30px;
    top:80px;
} 
.break{
    opacity: 0.5;
}

.game-container{
    width: 1500px;
    height: 700px;
    background-color: maroon;
    position:fixed;

    /* z-index: -4; */

    bottom: 0;

    /* border: 5px solid black; */
}