@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');
body{
    background-color: maroon;
    font-family: 'Tourney', cursive;
}
p{
    font-size: 30px;
    margin-right: 20px;
    font-weight: bold;
    float: right;  
    color: wheat;  
}
.egg{
    height:50px;
    width: 40px;
    position: fixed;  
}
.basket{
    width:100px;
    height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.scoreegg{
    height:25px;
    width:20px;
    margin-right:10px;
   
}
div{   position:absolute;
    right:30px;
    top:80px;
}
.break{
    opacity: 0.5;
}